#dev{
    .zcs{
        display: block;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        margin: 20px 0px;
        background-color: rgb(231, 231, 231);
        width: 400px;
        &:focus{
            outline: none;
            background-color: white;
        }
    
    }
    ul{
        margin: 50px 0px;
        max-height: 700px;
        overflow-y: scroll;
    }

    ul.stateNums{
        height: auto;
        margin: 20px;
        background-color: lightgray;
        border-radius: 10px;
        padding: 20px;
    }

    hr{
        margin: 30px 0px;
    }

    a.ready{
        background-color: green;
        color: white;
        padding: 5px;
    }

    .toggle-button{
        margin-right: 10px;
        &.focus{
            background-color: black;
            color:white
        }
    }
}

